$mainBlue: #357e;
$mainPurple: rgba(201, 19, 43, 0.6);
$mainOrange: #cc7b19;
$color-primary-dark: #828451;
$color-secondary: #101d2c;
$color-grey-light-1: #f9f7fe;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;